<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="com.guopengliang.cordova.flurry"
		version="0.1.2">

	<name>Flurry</name>

	<js-module src="www/flurry.js" name="Flurry">
		<clobbers target="Flurry" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Flurry">
				<param name="android-package" value="com.guopengliang.cordova.Flurry" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<source-file src="src/android/Flurry.java" target-dir="src/com/guopengliang/cordova" />
		<source-file src="src/android/FlurryAnalytics.jar" target-dir="libs" />
	</platform>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="Flurry">
				<param name="ios-package" value="CDVFlurry" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<header-file src="src/ios/CDVFlurry.h" />
		<source-file src="src/ios/CDVFlurry.m" />
		<header-file src="src/ios/Flurry.h" />
		<source-file src="src/ios/libFlurry.a" framework="true" />

		<framework src="Security.framework" />
		<framework src="SystemConfiguration.framework" />
	</platform>

</plugin>
